<?xml version="1.0"?>
<launch>
    <arg name="viz" default="false"/>
    <!-- is used to override moveit standard rviz start and replace it with own-->
    <arg name="use_rviz" default="false"/>
    <arg name="rviz_config" default="manipulation.rviz" />

    <!-- Launches the driver for the arm  -->
    <!--  include file="$(find wpi_jaco_wrapper)/launch/arm.launch" / -->
    <include file="$(find jaco_manipulation)/launch/arm.launch"/>

    <!-- Launches the moveit config for the arm -->
    <include file="$(find jaco_manipulation)/launch/jaco_moveit.launch">
        <arg name="viz" value="$(arg viz)"/>
    </include>

    <!-- Launches jaco_manipulation node -->
    <node name="jaco_manipulation_server" type="jaco_manipulation_server" pkg="jaco_manipulation" output="screen"/>

    <!--  Static transform publisher -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster"
          args="-0.075 -0.26 -0.05 0.0 0 0 root base_link 50"/>

    <group if="$(arg use_rviz)">
        <node name="jaco_rviz" pkg="rviz" type="rviz" args="-d $(find jaco_manipulation)/launch/$(arg rviz_config)"/>
    </group>
</launch>

