<?xml version="1.0"?>
<launch>
    <arg name="use_rviz" default="true"/>
    <arg name="rviz_config" default="manipulation_arena.rviz" />

    <!-- Launches jacp_manipulation -->
    <include file="$(find jaco_manipulation)/launch/jaco_manipulation.launch">
        <arg name="use_rviz" value="true"/>
        <arg name="rviz_config" value="$(arg rviz_config)" />
    </include>

    <!-- launches kinect2 driver -->
    <!-- moved to jaco_movit_sensor_manager.launch.xml -->
    <!-- WARNING: topics moved intto move_group namespace "move_group"-->

    <!-- static transform for kinect -->
    <node pkg="tf" type="static_transform_publisher" name="table_tf" args="1.2 0.36 0 3.1415 0 0 base_link kinect2_root 10" />
    <node pkg="tf" type="static_transform_publisher" name="kinect2_rotate_tf" args="0 0 0 -1.570796327 0 -1.570796327 kinect2_rotate_link kinect2_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="kinect2_tilt_tf" args="0 0 0.08 0 0 0 kinect2_tilt_link kinect2_rotate_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="kinect2_base_tf" args="0 0 0.5 0 0.4363 0 kinect2_root kinect2_tilt_link 10" />
    <!-- every type of topic ((hd, qhd), sd) from kinect has it's own frame. kinect2_lens_tf is "wrapper frame", clearer for rviz -->
    <node pkg="tf" type="static_transform_publisher" name="kinect2_ir_lens_tf" args="0.095 0 0 0 0 0 kinect2_link kinect2_ir_optical_frame 10" />
    <node pkg="tf" type="static_transform_publisher" name="kinect2_lens_tf" args="0 0 0 0 0 0 kinect2_ir_optical_frame kinect2_lens_frame 10" />
    <node pkg="tf" type="static_transform_publisher" name="kinect2_rgb_lens_tf" args="0.095 0 0 0 0 0 kinect2_link kinect2_rgb_optical_frame 10" />
</launch>